body {
	background: url("../images/login.png") no-repeat;
	background-size: cover;
	height: 100%;
}

.container{
  padding:3rem;
}
.image-logo{
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}
.logo{
  width:100%;
  border-radius: 5px;
}
.image-login{
    display: flex;
    justify-content: center;
}
form{
    padding-top: 2rem;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.container--form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logincard{
    height: 200px;
    width: 150px;
    border-radius: 5px;
	
}
.form-group{
	text-align: left;	

}

    .form-label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
    }
    button{
        margin:5px;
    }
    .button-group{
        display:flex;
        justify-content: center;
    }
